@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  font-family: comfortaa;
  background-color: #8dd7bfff;
}
.homecontainer {
  display: flex;
  align-content: center;
  height: 100%;
}
.header {
  display: flex;
  background-color: #8dd7bfff;
  padding: 30px;
  text-align: center;
  font-size: 60px;
  align-items: center;
  justify-content: center;
  margin: auto;
  color: #00a5e3;
}
flex-container-home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.flex-items:nth-child(1) {
  display: block;
  align-content: center;
  text-align: center;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  order: 0;
  width: 80%;
  height: 100%;
  margin: auto;
  margin-bottom: 40px;
  font-size: 25px;
}

.flex-items:nth-child(2) {
  display: block;
  justify-content: center;
  text-align: center;
  align-content: center;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  margin: auto;
  width: 80%;
  height: 100%;
  font-size: 25px;
}

.icon {
  justify-content: center;
  text-align: center;
  align-content: center;
}
.btngo {
  background-color: #44a548;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.btngo:hover {
  background-color: #347234;
}

.btncreate {
  background-color: #252558;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.btncreate:hover {
  background-color: #385993;
}

.btndelete {
  background-color: #e60c0c;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}
.btndelete:hover {
  background-color: #ba1919;
}

.btnhome {
  background-color: #29c8bd;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.btnhome:hover {
  background-color: #227e7e;
}

/* styling for course output */
textarea {
  width: 90%;
  margin-left: 10%;
  margin-right: 10%;
}

#output {
  width: 80%;
  margin: auto;
}

#output h1 {
  font-size: 5rem;
  font-weight: 500;
}
#output h2 {
  font-size: 4rem;
  font-weight: 500;
}
#output h3 {
  font-size: 3rem;
  font-weight: 500;
}
#output h4 {
  font-size: 2rem;
  font-weight: 500;
}
#output h5 {
  font-size: 1rem;
  font-weight: 500;
}
#output h6 {
  font-size: 0.5rem;
  font-weight: 500;
}
#output p {
  font-size: 1rem;
}
.CodeMirror {
  height: 100% !important;
}

.a {
  margin-left: 50px;
}
.a:hover{
   color:white;
}
.b {
  margin-left: 50px;
  
}
.b:hover{
  color:white;
}
.c {
  margin-left: 50px;
}
.c:hover{
  color:white;
}
.d {
  margin-left: 50px;
}
.d:hover{
  color:white;
}

.e {
  margin-left: 50px;
}
.e:hover{
  color:white;
}

/*  */
